@use '../abstracts' as *;

.about {
  .title {
    margin-inline: unset;
  }

  .about-info {
    h2 {
      text-transform: capitalize;

      @include medium {
        text-align: left;
      }
    }

    p:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  .img {
    margin-top: 4rem;

    @include medium {
      margin-top: -3rem;
    }

    img {
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  //MEDIA QUERY
  @include medium {
    .grid {
      @include grid(repeat(2, 1fr), 0rem);

      .img {
        height: 100%;
      }
    }

    .grid-reverse {
      .about-info {
        grid-column: 2/3;
      }

      .img {
        grid-row: 1/2;
      }
    }

    .about-info {
      margin-top: -1rem;
    }
  }

  @include large {
    .about-info {
      margin-top: 0;

      p {
        line-height: 1.7;
        margin-bottom: 2rem;
      }
    }
  }
}
