:root {
  --clr-primary-400: #ffff00;
  --clr-primary-300: #91d2f7;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #d9d9d9;
  --clr-neutral-300: #918c8c;
  --clr-neutral-350: #333;
  --clr-neutral-400: #1c1c1c;
  --clr-neutral-900: #000;
}
