@use '../abstracts' as *;

#footer-section {
  padding: 5rem 0 2rem;
  position: relative;
  margin-top: 5rem;

  .footer-content {
    padding-left: 1rem;
    max-width: 700px;
    margin-inline: auto;
  }

  a {
    font-size: calc($fs-400 - 0.13rem);
    color: var(--clr-neutral-300);
  }

  h3 {
    color: var(--clr-neutral-100);
    text-transform: capitalize;
    font-size: $fs-500;
  }

  .m-b {
    margin-bottom: 1rem;
  }

  .menu--links,
  .copyright {
    a {
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--clr-primary-400);
      }
    }
  }

  .menu--links {
    @include medium {
      margin-left: 1.5rem;
    }
    li {
      margin-bottom: 0.2rem;
    }
  }

  .social-links {
    .flex {
      @include flex(center, flex-start);

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    i {
      color: var(--clr-neutral-100);
      margin-right: 0.5rem;
    }
  }

  .copyright {
    text-align: center;
    padding: 3rem 0 0;
    @include flex(center, center);
    column-gap: 0.5rem;

    p {
      font-size: $fs-450;
    }
  }

  // to top arrow
  @keyframes goTop {
    from {
      transform: translateY(-30px);
    }

    to {
      transform: translateY(0px);
    }
  }

  .page-up {
    span {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      z-index: 100;
      background-color: var(--clr-neutral-300);
      color: var(--clr-neutral-900);
      opacity: 0;
      visibility: hidden;
      height: 40px;
      width: 40px;
      line-height: 0;
      text-align: center;
      @include flex(center, center);
      border-radius: $radius-500;
      cursor: pointer;
      transition: opacity 0.2s ease-in, background-color 0.2s ease-in;

      .up-icon {
        font-size: $fs-500;
      }

      &.showArrow {
        animation: goTop 0.5s linear;
        opacity: 0.5;
        visibility: visible;
      }

      &:hover {
        background-color: var(--clr-primary-400);
        opacity: 1;
      }
    }
  }

  //MEDIA QUERY
  @include medium {
    .grid {
      @include grid(repeat(2, 1fr), 2rem);
    }
  }

  @include large {
    .grid {
      @include grid(repeat(4, 1fr), 1rem);
    }
  }
}
